<head>
  <!-- NAME: TELL A STORY -->
  <!--[if gte mso 15]>
    <xml>
      <o:OfficeDocumentSettings>
        <o:AllowPNG />
        <o:PixelsPerInch>96</o:PixelsPerInch>
      </o:OfficeDocumentSettings>
    </xml>
  <![endif]-->
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title> {{ head.title }}</title>

  <style type="text/css">

   {% include 'styles/index.css' %}

  </style>
  <!--[if !mso]><!-->
  <link
    href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i"
    rel="stylesheet"
  />
  <!--<![endif]-->
</head>
