{% extends 'body_section_yellow.html' %}

{% block yellow_box %}
<h1 class="hero__tagline"><strong>A NOTE ABOUT THIS ALERT</strong></h1>
<p class="welcome__text-container">
<p>Due to the changing nature of the pandemic and the lifting of restrictions, this will be the last week of sending these alerts. <strong>Please <a href="https://www.spotlightpa.org/newsletters/papost">sign up for our free daily newsletter now</a> to continue to receive the most important updates.</strong></p>
</p>
{% endblock yellow_box %}
